@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700&family=Barlow:wght@400;500;700&display=swap');

.navbar-nav li:hover{

  background-color: #6a7fe7;
  /* background-color: #99999937; */
  transition: all ease-in-out;
  transition-duration: 0.4s;
  border-radius: 15px;
}


.nav ul li {
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
}

.cta-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.welcome {
  background-image: url(./images/pexels-pixabay-40896.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 40px;
}

.typewriter-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #00796b;
  box-sizing: border-box;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00796b;
  }
}

.landing-page {
  /* background-color: #f2f2f2; */
  background: linear-gradient(45deg, #c7f1ca, #ffffff, #9fefa5), linear-gradient(to bottom, rgba(250, 250, 250, 0.548), rgba(185, 228, 185, 0.653));
  /* background-blend-mode: screen; */
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content2{
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  gap: 50px;
  align-items: center;
}

.content {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content2{
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  flex: 1;
  text-align: center;
}
.image2 img {
  width: 80%;
  height: auto;
  object-fit: contain;
  box-shadow: 0 0 10px #fff;
}


.read-more-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: #45a049;
}
.main-content .content h1{
  font-family: Ubuntu;
  color: #4CAF50;
}
.main-content .content p{
  font-family: Poppins;
  font-size: 20px;
}

.footer {
  background: linear-gradient(45deg, #a1d9ab, #89f891, #50c154, #80c85e, #99eaa1);
  color: white;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer .about{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.footer .contact{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.footer .footer-section {
  flex: 1;
  padding: 10px 20px;
  min-width: 200px;
}

.footer .footer-section h3 {
  margin-bottom: 10px;
}

.footer .footer-section p,
.footer .footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-section ul li {
  margin-bottom: 5px;
}

.footer .footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer .footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}
